<% content_for :title do %>
Every NWSL Goal - 2015
<% end %>

<script>
// Game specific varibles
var firstHalf = 0;
var secondHalf = 0;
var videoId = "oFNUMEI6IBI";
</script>

<div class="h5 mxn1">
  <a href="../" title="Home" class="btn compact btn-link p1">Home</a>
</div>

<div>
  <h1>Every NWSL Goal - 2015</h1>
  <h3>Compiled by <a href="http://twitter.com/dannypage">Danny Page</a> / Video and PBP files via <a href="http://nwslsoccer.com/">NWSL</a></h3>
</div>

<div id="player"></div>

<div id="controls">
  <button class="btn btn-primary" type="button" onclick="reverse()">Reverse 15 Seconds</button>
  <button class="btn btn-primary" type="button" onclick="forward()">Forward 15 Seconds</button>
  <button class="btn btn-primary" type="button" onclick="changeSize()">Change Size</button>
</div>
<br>
<div id="events" class="Sidebar"
  style="height: 300px; overflow: auto; -webkit-overflow-scrolling:touch; border: black 1px solid">
  <table class="table-light overflow-hidden bg-white border rounded">
    <thead>
      <tr>
        <th>Game</th>
        <th>Half | Time</th>
        <th>Team</th>
        <th>Players</th>
      </tr>
    </thead>
    <tbody>
      <% events.each do |event| %>
      <tr onclick="seekGame(<%= "'#{game_videos[event[:game_id]]['video_embed_id']}',
        #{game_videos[event[:game_id]]['first_half_start']},
        #{game_videos[event[:game_id]]['second_half_start']},
        #{event[:half]},#{event[:half_seconds]}" %>);"
        style = "cursor: pointer;"
        onMouseOver="this.style.backgroundColor='silver'"
        onMouseOut="this.style.backgroundColor='transparent'" >
        <td><%= event[:game_name] %></td>
        <td><%= "#{event[:half]} | #{event[:button_text]}" %></td>
        <td><%= event[:team_alias]  %></td>
        <td>
          <% if event[:off_player_name] != "" %>
          Goal: <%= event[:off_player_name] %><br>
          <% end %>
          <% if event[:ast_player_name] != "" %>
          Assist: <%= event[:ast_player_name] %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= javascript_include_tag "play_by_play" %>
