<% content_for :title do %>NWSL Games<% end %>

<div class="h5 mxn1">
  <a href="../" title="Home" class="btn compact btn-link p1">Home</a>
  <span class="">
    <span class="muted"> / </span><a href="#" title="Games" class="btn compact btn-link p1">Games</a>
  </span>
</div>

<div>
  <h1>Games</h1>
  <table class="table-light overflow-hidden bg-white border rounded">
    <thead>
      <th>Home</th>
      <th>Away</th>
      <th>Week</th>
      <th>Date</th>
      <th colspan="2">Further Info</th>
    </thead>
    <tbody>
    <% games.each do |game| %>
      <tr>
        <td><%= game[:home] %></td>
        <td><%= game[:away] %></td>
        <td><%= game[:week] %></td>
        <td><%= game[:date] %></td>
        <td><%= link_to "Stats", "NWSL#{game[:id]}/stats/" %></td>
        <td><%= link_to "Play-By-Play", "NWSL#{game[:id]}/pbp/" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
