

<div class="h5 mxn1">
  <a href="../../../" title="Home" class="btn compact btn-link p1">Home</a>
  <span class="">
    <span class="muted"> / </span>
    <a href="../../" title="Games" class="btn compact btn-link p1">Games</a>
    <span class="muted"> / </span>
    <a href="../" title="<%= "#{game[:home]} vs #{game[:away]}: Week #{game[:week]}" %>"
      class="btn compact btn-link p1">
      <%= "#{game[:home]} vs #{game[:away]}: Week #{game[:week]}" %>
    </a>
    <span class="muted"> / </span>
    <a href="#" title="<%= "Play-By-Play" %>"
      class="btn compact btn-link p1">
      <%= "Play-By-Play" %>
    </a>
  </span>
</div>

<div>
  <h1><%= game[:home] %> vs <%= game[:away] %>Play By Play</h1>
  <p>Week <%= game[:week] %> : <%= game[:date] %></p>
  <p>
    First Half: <%= game[:first_half_start] %> -
    Second Half: <%= game[:second_half_start] %> -
    Video URL: <%= game[:video_embed_url] %>
  </p>
</div>

<div>
  <table class="gridtable">
    <thead>
      <tr>
        <th>Time</th>
        <th>Team</th>
        <th>Play</th>
      </tr>
    </thead>
    <% events.each do |event| %>
      <% if event[:half] ==1 %>
        <tr>
          <td>
            <button type="button" onclick="seek(<%= "#{event[:half]},#{event[:seconds]}" %>)">
              <%= event[:button_text]%>
            </button>
          </td>
          <td><%= event[:team_alias] %></td>
          <td><%= event[:text]%></td>
        </tr>
      <% end %>
    <% end %>
    <tr><td>---</td></tr>
    <% events.each do |event| %>
      <% if event[:half] == 2 %>
        <tr>
          <td>
            <button type="button" onclick="seek(<%= "#{event[:half]},#{event[:seconds]}" %>)">
              <%= event[:button_text]%>
            </button>
          </td>
          <td><%= event[:team_alias] %></td>
          <td><%= event[:text]%></td>
        </tr>
      <% end %>
    <% end %>
  </table>
</div>
