<div class="h5 mxn1">
  <a href="#" title="Home" class="btn compact btn-link p1">Home</a>
</div>

<div class="index">
  <h1>NWSL Directory</h1>
  <h2><%= link_to "Teams", "teams/" %></h2>
  <h2><%= link_to "Players", "players/" %></h2>
  <h2><%= link_to "Games", "games/" %></h2>
</div>
<div>
  <h1>Data Files</h1>
  <h2><%= link_to "Data Files", "data/" %></h2>
  <h2><%= link_to "Source", "//github.com/cynicalfooty/WoSo/" %></h2>
</div>
